@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Troubleshoot .Net - Startup to Enterprise</h2>
    <p class="lead" style="padding-left: 20px;">This is a demonstration project to show you how to detect problems in .net applications with simple and advanced techniques.</p>
</div>

<div class="row">
    <div class="panel-body">
        <h2>Why we need?</h2>
        <ul>
            <li>Are you debugging production environment?</li>
            <li>Are you having issue feedbacks from customers?</li>
            <li>Is your application consumes more memory & cpu then you imagined?</li>
            <li>Do you know why your production environment slow down at certain moment?</li>
            <li>Are you capable of detecting and preventing DDoS attacks?</li>
            <li>Do you know your bottlenecks?</li>
            <li>Is your application CRASHING!?</li>
            <li>Many more reasons, we can count...</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="panel-body">
        <h2>Logging</h2>
        <p>
            To find bugs and issues in your application most important thing is logging. Without logging there is really much to do...
        </p>
    </div>
</div>
<div class="row">
    <div class="panel-body">
        <h2>Profiling</h2>
        <p>
            We are going to show you how to profile your application memory usage and performance with Visual Studio 2015 Ultimate and jetBrains Profiling tools.
        </p>
    </div>
</div>
<div class="row">
    <div class="panel-body">
        <h2>Monitoring</h2>
        <p>
            You should monitor your systems and applications in every possible way, this is important as life it self for your business...
        </p>
    </div>
</div>